<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <span class="logo">Arts Gallery And Store</span>

    <nav class="nav-links">
      <a routerLink="/products" class="nav-link">Products</a>
      <a routerLink="/cart" class="nav-link">Cart</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
    <h1>Amazing Animal Paintings</h1>
    <h3>Make your home a special place with our beautiful and unique work</h3>
</div>

<router-outlet></router-outlet>
